@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Raleway:wght@400;700;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    display: block;
}

body {
    background-color: black;
}

h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

p {
    color: white;
}

section {
    margin: 100px auto;
}


.banner {
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(./images/banner.png);
    /** background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0) 100%), url(./images/banner.png);**/
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB;
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner h1 {
    text-transform: uppercase;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    font-weight: 900;
}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}

.banner .banner-content button {
    color: #33A8DB;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
}

#course-content {
    width: 800px;
    text-align: center;
}

#course-content .modules-list {
    margin: 24px 0;
}

.module span {
    background: linear-gradient(0deg, #33A8DB, #33A8DB),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#course-content .modules-list .module {
    width: 530px;
    color: #FFFFFF;
    border: 1px solid #33A8DB;
    border-radius: 100px;
    padding: 16px;
    margin: 0 auto 24px;
    box-shadow: -2px 6px 4px 0px #00000066 inset;
    background: linear-gradient(0deg, #252525, #252525),
        linear-gradient(0deg, #33A8DB, #33A8DB);
}

#transform-world {
    height: 560px;
    background-image: url(./images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#transform-world p {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-transform: lowercase;
    text-shadow: 3px 2px #33A8DB;
    max-width: 250px;
}

#professional-challenges {
    text-align: center;
    width: 800px;
}


#professional-challenges img {
    margin: 32px 0;
}


footer {
    padding: 60px 0;
    border-top: 1px solid #33A8DB;
    background-color: black;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    text-align: center;
}

footer .dio-logo {
    width: 300px;

}

footer a {
    color: #33A8DB;
    text-decoration: none;
    font-weight: bold;
}